<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Sanchez Auto Detailing</title>
</head>

<body>
    <header class="container">
        <div id="logo-and-nav" class="row">
            <div id="logo" class="col-lg-7">
                <img src="/images/sanchez auto detailing.png" alt="red car with Sanchez Auto Detailing">
            </div>
            <nav id="navigation" class="link-list col-lg-5 row">
                <ul class="row col justify-content-end">
                    <li class="col-lg-6"><a class="btn btn-outline-danger" href="/#packages-and-services">Packages and
                            Services</a></li>
                    <li class="col-lg-4"><a class="btn btn-outline-danger" href="/#gallery">Gallery</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="container">
        {{{ body }}}
    </main>
    <footer class="container">
        <div class="footer-content row">
            <div class="contact-and-link col">
                <div class="footer-contact">
                    Esteban Sanchez:
                    (818) 867-5309
                </div>
                <div class="footer-link">
                    <a
                        href="https://www.google.com/maps/place/Los+Angeles,+CA+90018/@34.0240943,-118.3655608,12.22z/data=!4m5!3m4!1s0x80c2b81499eea1f9:0x746d8a2701df173f!8m2!3d34.0309972!4d-118.319894">Now
                        servicing in Central Los Angeles! </a>
                </div>
            </div>
            <div class="social-media-and-icons col row">
                <a class="col" href="https://www.instagram.com/sanchez_auto_detailing/?igshid=YmMyMTA2M2Y%3D"><img
                        src="/images/Instagram_Glyph_Gradient_RGB.svg"></a>
            
                <div class="footer-navigation row link-list">
                    <ul class="row">
                        <li class="col"><a href="/#navigation">return to top</a></li>
                        <li class="col"><a href="/#packages-and-services">packages & services</a></li>
                    </ul>
                </div>
            </div>
            <div class="hours-and-location col text-center">
                <p>Hours of Operation: <br>Sat & Sun: 9AM - 5PM <br>South Central<br> Los Angeles, California</p>
                </p>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>