<div class="calendly-inline-widget" style="min-width:320px;height:580px;" data-auto-load="false">
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <script>
        Calendly.initInlineWidget({
        url: 'https://calendly.com/iiisantosjangel?hide_gdpr_banner=1?hide_landing_page_details=1?hide_event_type_details=1'
        });
    </script>
</div>
    <!-- Calendly inline widget end -->
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<script src="/javascript/calendly.js"></script>