:root {
    --primary-color: #aa1010;
    --secondary-color: white;
    --tertiary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;;
}

/* Jumbotron styling */
.jumbotron {
    background-image: url("../images /adam-stefanca-hdMSxGizchk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    /* height: 400px; */
}

.jumbotron h1 {
    padding: 10px;
    text-shadow: 0 0 10px black;
    font-size: 80px;
}

.about {
    background-color: rgba(0, 0, 0, 0.329);
    padding: 10px;
}

/* Jumbotron Styling End */

.link-list ul{
    list-style: none;
}

#logo img {
    height: 100px;
    width: 100px;
}

.social-media-and-icons a img {
    height: 50px;
    width: 50px;
}

.footer-navigation ul li a {
    text-decoration: none;
}

.footer-navigation ul li a:hover {
    color: var(--primary-color);
}