:root {
    --primary-color: #aa1010;
    --secondary-color: white;
    --tertiary-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    font-family: 'Open Sans', sans-serif;;
}

#navigation ul{
    list-style: none;
}

#logo img {
    height: 100px;
    width: 100px;
}

.social-media-and-icons a img {
    height: 50px;
    width: 50px;
}